*~
tags
.DS_Store
build*
.nfs*
share/
__pycache__
generator/C/
generator/CPP11/include_v2.0
generator/python/
generator/message_definitions
*.swp
MANIFEST
dist/
pymavlink.egg-info/
.pydevproject
.project
.ropeproject
*.cproject
include/
.tags*
include/mavlink/v1.0
*.pyc
/bin/
/.vscode
.idea/
.venv/
dfindexer/dfindexer_cy.c
dfindexer/*.so
dfindexer/*.pyd
