UCLIENT_PROFILE_UDP=FALSE
UCLIENT_PROFILE_TCP=FALSE
UCLIENT_PROFILE_SERIAL=TRUE
UCLIENT_PROFILE_DISCOVERY=FALSE
UCLIENT_PROFILE_CUSTOM_TRANSPORT=FALSE

UCLIENT_MAX_OUTPUT_BEST_EFFORT_STREAMS=1
UCLIENT_MAX_OUTPUT_RELIABLE_STREAMS=1
UCLIENT_MAX_INPUT_BEST_EFFORT_STREAMS=1
UCLIENT_MAX_INPUT_RELIABLE_STREAMS=1
