# Docker context ignore list
.azure
.github
.git
.idea
.vagrant
AntennaTracker
Rover
ArduCopter
ArduPlane
ArduSub
benchmarks
build
docs
libraries
mk
modules
tests
Tools
# autotest directories
test.*
terrain
logs
# mavproxy stuff
mav.*

# include the setup script and completion
!Tools/environment_install/install-prereqs-ubuntu.sh
!Tools/environment_install/install-prereqs-arch.sh
!Tools/completion
autotest_result_*_junit.xml
