# This file provide reference settings for the APM code conventions
# There are plug-ins available for nearly every text editor to automatically
# respect the conventions contained within this file.
#
# Please see editorconfig.org for complete information.
#
# If you find errors in this file, please send a pull-request with a fix.
#
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
# These are the correct rules for APM coding standards, but fixing up old files causes git spam
trim_trailing_whitespace = false
insert_final_newline = true

[*.mk]
indent_style = tab
indent_size = 8

[{makefile,Makefile}]
indent_style = tab
indent_size = 8
