[flake8]
extend-ignore =
    # H101: Use TODO(NAME)
    H101
    # H216: The unittest.mock module should be used rather than the third party mock package
    H216,
    # H306: imports not in alphabetical order (time, os)
    H306,
    # H401: docstring should not start with a space
    H401,
    # H403: multi line docstrings should end on a new line
    H403,
    # H404: multi line docstring should start without a leading new line
    H404,
    # H405: multi line docstring summary not separated with an empty line
    H405,
    # E226: missing whitespace around arithmetic operator
    E226,
    # E261 at least two spaces before inline comment
    E261,
    # W504 line break after binary operator
    W504,
    # E203 whitespace before ':'
    E203,
    # E221 multiple spaces before operator
    E221

extend-exclude =
    build,
    modules,
    .git

max-line-length = 127
