[flake8]
extend-ignore =
    # H301: one import per line
    H301,
    # H306: imports not in alphabetical order (time, os)
    H306,
    # E226: missing whitespace around arithmetic operator
    E226,
    # E261 at least two spaces before inline comment
    E261,
    # W504 line break after binary operator
    W504,
    # E203 whitespace before ':'
    E203,
    # E221 multiple spaces before operator
    E221

extend-exclude =
    build,
    modules,
    .git
    libraries/AP_Camera/examples/gst_rtsp_server.py
    libraries/AP_Camera/examples/gst_rtsp_to_wx.py
    libraries/AP_Camera/examples/gst_udp_to_rtsp.py
    libraries/AP_Camera/examples/gst_udp_to_wx.py
    libraries/AP_Declination/generate/generate.py
    libraries/AP_Declination/generate/testvectors.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/addfunc_parse.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/af_parse_cubemx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/af_parse.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/bdshot_encoder.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/CKS32F407xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/convert_betaflight_unified.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/dma_parse.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/dma_resolver.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F100xB.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F103xB.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F105xC.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F303xC.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F405xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F407xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F412Rx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F413xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F427xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F469xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F732xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F745xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F767xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32F777xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32G431xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32G441xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32G474xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32G491xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32H723xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32H730xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32H743xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32H750xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32H755xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32H757xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32H7A3xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32L431xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32L476xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32L496xx.py
    libraries/AP_HAL_ChibiOS/hwdef/scripts/STM32L4R5xx.py
    libraries/AP_HAL/examples/DSP_test/gyro_isb_reader.py
    libraries/AP_InertialSensor/examples/coning.py
    libraries/AP_Math/tools/geodesic_grid/geodesic_grid.py
    libraries/AP_Math/tools/geodesic_grid/grid.py
    libraries/AP_Math/tools/geodesic_grid/icosahedron.py
    libraries/AP_Math/tools/geodesic_grid/plot.py
    libraries/AP_Motors/examples/AP_Motors_test/run_heli_comparison.py
    libraries/AP_MSP/Tools/msposd.py
    libraries/AP_MSP/Tools/pymsp.py
    libraries/AP_NavEKF3/derivation/code_gen.py
    libraries/AP_NavEKF3/derivation/generate_1.py
    libraries/AP_NavEKF3/derivation/generate_2.py
    libraries/AP_OSD/fonts/mcm_all.py
    libraries/AP_OSD/fonts/mcm2bin.py
    libraries/AP_Scripting/applets/Aerobatics/FixedWing/dual_log.py
    libraries/AP_Scripting/applets/Aerobatics/FixedWing/view_paths.py
    libraries/AP_Scripting/tests/docs_check.py
    libraries/AP_Terrain/tools/create_terrain.py
    libraries/APM_Control/examples/AP_FW_Controller_test/plot_results.py
    libraries/SITL/examples/JSON/pybullet/robot.py
    libraries/SITL/examples/JSON/pybullet/walking_robot.py
    libraries/SITL/examples/Morse/quad_scanner.py
    libraries/SITL/examples/Morse/quadcopter.py
    libraries/SITL/examples/Morse/rover_follow.py
    libraries/SITL/examples/Morse/rover_scanner.py
    libraries/SITL/examples/Morse/rover_skid.py
    libraries/SITL/examples/Morse/rover.py
    libraries/SITL/examples/Webots_Python/scripts/example_aruco_detection.py
    libraries/SITL/examples/Webots_Python/scripts/example_camera_receive.py
    Tools/ardupilotwaf/ap_library.py
    Tools/ardupilotwaf/ap_persistent.py
    Tools/ardupilotwaf/ardupilotwaf.py
    Tools/ardupilotwaf/boards.py
    Tools/ardupilotwaf/build_summary.py
    Tools/ardupilotwaf/chibios.py
    Tools/ardupilotwaf/cmake.py
    Tools/ardupilotwaf/cxx_checks.py
    Tools/ardupilotwaf/dronecangen.py
    Tools/ardupilotwaf/embed.py
    Tools/ardupilotwaf/esp32.py
    Tools/ardupilotwaf/gbenchmark.py
    Tools/ardupilotwaf/git_submodule.py
    Tools/ardupilotwaf/gtest.py
    Tools/ardupilotwaf/littlefs.py
    Tools/ardupilotwaf/mavgen.py
    Tools/ardupilotwaf/qurt.py
    Tools/ardupilotwaf/static_linking.py
    Tools/ardupilotwaf/toolchain.py
    Tools/ardupilotwaf/vscode_helper.py
    Tools/autotest/param_metadata/htmlemit.py
    Tools/autotest/param_metadata/jsonemit.py
    Tools/autotest/param_metadata/mdemit.py
    Tools/autotest/param_metadata/param.py
    Tools/autotest/param_metadata/rstemit.py
    Tools/autotest/param_metadata/xmlemit.py
    Tools/autotest/pysim/__init__.py
    Tools/autotest/pysim/fdpexpect.py
    Tools/autotest/pysim/vehicleinfo.py
    Tools/cameras_gimbals/xfrobot-download/xfrobot-download.py
    Tools/debug/crash_debugger.py
    Tools/FilterTestTool/FilterTest.py
    Tools/FilterTestTool/run_filter_test.py
    Tools/mavproxy_modules/lib/geodesic_grid.py
    Tools/mavproxy_modules/lib/magcal_graph_ui.py
    Tools/mavproxy_modules/magcal_graph.py
    Tools/mavproxy_modules/sitl_calibration.py
    Tools/Replay/check_replay_branch.py
    Tools/Replay/check_replay.py
    Tools/Replay/CheckLogs.py
    Tools/ros2/ardupilot_dds_tests/ardupilot_dds_tests/plane_waypoint_follower.py
    Tools/ros2/ardupilot_dds_tests/test/ardupilot_dds_tests/conftest.py
    Tools/ros2/ardupilot_dds_tests/test/ardupilot_dds_tests/test_battery_msg_received.py
    Tools/ros2/ardupilot_dds_tests/test/ardupilot_dds_tests/test_geopose_msg_received.py
    Tools/ros2/ardupilot_dds_tests/test/ardupilot_dds_tests/test_joy_msg_received.py
    Tools/ros2/ardupilot_dds_tests/test/ardupilot_dds_tests/test_navsat_msg_received.py
    Tools/ros2/ardupilot_dds_tests/test/ardupilot_dds_tests/test_parameter_service.py
    Tools/ros2/ardupilot_dds_tests/test/ardupilot_dds_tests/test_prearm_service.py
    Tools/ros2/ardupilot_dds_tests/test/ardupilot_dds_tests/test_rc_msg_received.py
    Tools/scripts/__init__.py
    Tools/scripts/apj_tool.py
    Tools/scripts/battery_fit.py
    Tools/scripts/bin2hex.py
    Tools/scripts/build_bootloaders.py
    Tools/scripts/build_peripherals.py
    Tools/scripts/CAN/CAN_playback.py
    Tools/scripts/CAN/fix2_gap.py
    Tools/scripts/check_firmware_version.py
    Tools/scripts/configure_all.py
    Tools/scripts/convert_param_scale.py
    Tools/scripts/convert_plane_PID.py
    Tools/scripts/crc32.py
    Tools/scripts/decode_devid.py
    Tools/scripts/filter_size_compare_branches_csv.py
    Tools/scripts/firmware_version_decoder.py
    Tools/scripts/frame_sizes.py
    Tools/scripts/gen_stable.py
    Tools/scripts/generate_pdef.xml_metadata.py
    Tools/scripts/imu_uart_decode.py
    Tools/scripts/logic_decode_channels.py
    Tools/scripts/make_intel_hex.py
    Tools/scripts/mavlink_parse.py
    Tools/scripts/param_unpack.py
    Tools/scripts/rcda_decode.py
    Tools/scripts/runcoptertest.py
    Tools/scripts/runfliptest.py
    Tools/scripts/runplanetest.py
    Tools/scripts/serial_playback.py
    Tools/scripts/signing/generate_keys.py
    Tools/scripts/signing/make_secure_bl.py
    Tools/scripts/signing/make_secure_fw.py
    Tools/scripts/tempcal_IMU.py
    Tools/scripts/tfminiplus.py
    Tools/Vicon/vicon_mavlink.py

max-line-length = 127
