[submodule "modules/uavcan"]
	path = modules/uavcan
	url = https://github.com/ArduPilot/uavcan.git
[submodule "modules/waf"]
	path = modules/waf
	url = https://github.com/ArduPilot/waf.git
[submodule "modules/gbenchmark"]
	path = modules/gbenchmark
	url = https://github.com/google/benchmark.git
[submodule "modules/mavlink"]
	path = modules/mavlink
	url = https://github.com/m4a3/mavlink.git
[submodule "gtest"]
	path = modules/gtest
	url = https://github.com/ArduPilot/googletest
[submodule "modules/ChibiOS"]
	path = modules/ChibiOS
	url = https://github.com/ArduPilot/ChibiOS.git
[submodule "modules/libcanard"]
	path = modules/libcanard
	url = https://github.com/ArduPilot/libcanard.git
