
# bash gets confused if you pass in .sh files from windows
# This breaks Vagrant for some users.
*.sh text eol=lf

*.bin -diff
*.elf -diff
*.hex -diff

*.bin binary linguist-generated
*.elf binary linguist-generated
*.hex binary linguist-generated
