*~
*.bin
*.d
*.dll
*.elf
*.hex
*.dfu
*.exe
*.lst
*.o
*.obj
*.px4
*.vrx
*.pyc
*.tlog
*.tlog.raw
*.vbrain
*.zip
.*.swo
.*.swp
.built
.context
.cproject
.depend
.directory
.DS_Store
.metadata/
.project
.settings/
.autotools
.vagrant
/.lock-waf*
/.waf*
/tmp/*
/Tools/ArdupilotMegaPlanner/3DRRadio/bin
/Tools/ArdupilotMegaPlanner/3DRRadio/obj
/Tools/ArdupilotMegaPlanner/APMPlannerXplanes/APMPlannerXplanes/Debug
/Tools/ArdupilotMegaPlanner/bin
/Tools/ArdupilotMegaPlanner/bin/APM Planner.app
/Tools/ArdupilotMegaPlanner/bin/Debug
/Tools/ArdupilotMegaPlanner/bin/Release/gmapcache
/Tools/ArdupilotMegaPlanner/bin/Release/logs/
/Tools/ArdupilotMegaPlanner/CustomImages
/Tools/ArdupilotMegaPlanner/Msi/upload.bat
/Tools/ArdupilotMegaPlanner/obj
/Tools/ArdupilotMegaPlanner/resedit/bin
/Tools/ArdupilotMegaPlanner/resedit/obj
/Tools/ArdupilotMegaPlanner/Updater/bin
/Tools/ArdupilotMegaPlanner/Updater/obj
/Tools/ArdupilotMegaPlanner/wix/bin
/Tools/ArdupilotMegaPlanner/wix/obj
/Tools/autotest/ch7_mission.txt
/Tools/autotest/aircraft/Rascal/reset.xml
/Tools/autotest/jsbsim_fgout_0.xml
/Tools/autotest/jsbsim_start_0.xml
/Tools/autotest/jsb_sim/fgout.xml
/Tools/autotest/jsb_sim/rascal_test.xml
ArduCopter/Debug/
ArduCopter/logs/
ArduCopter/mav.parm
ArduCopter/terrain/*.DAT
ArduCopter/test.ArduCopter/
ArduCopter/test/*
ArduCopter/way.txt
ArduPlane/logs/
ArduPlane/mav.parm
ArduPlane/test/*
ArduPlane/terrain/*.DAT
ArduPlane/test.ArduPlane/
ArduPlane/way.txt
APMrover2/way.txt
APMrover2/logs/
APMrover2/mav.parm
APMrover2/test.APMrover2/
mk/PX4/ROMFS/default.parm
autotest.lck
build
Build.ArduCopter/*
Build.ArduPlane/*
Build.APMrover2/*
Build.AntennaTracker/*
cmake_install.cmake
CMakeCache.txt
CMakeFiles
config.mk
dataflash.bin
eeprom.bin
index.html
LASTLOG.TXT
Make.dep
mav.log
mav.log.raw
module.mk
serialsent.raw
status.txt
tags
test.ArduCopter/*
Thumbs.db
