@charset "utf-8";
/* CSS Document */

/* Background-Styles */
body {
	font-family:Helvetica;
	margin:0px;
	padding:0px;
	background-color: #fff;
	background-image: url(../images/bg.png);
}

#logo {
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	height: 120px;
	width: 420px;
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
	background-color: #000;
}
  
h2 {
	text-shadow: #ccc 0px 1px 0px;
	text-decoration:none;
	color:#D14836;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

#git {
	background-color: #FFF;
	font-size: 15px;
	display: auto;
	padding: 10px;
	border: 1px solid #CCC;
	position: relative;
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
}

#git a {
	color:#00F;
	font-weight: normal;
	}
	
#git a:hover {
	color:#D14836;
}

.passed-text {
	color:green;
}

.failed-text {
	color:red;
}


#main {
	padding-top:0px;
	min-width: 420px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-right: 20px;
	padding-bottom: 50px;
	padding-left: 20px;
}
  
ul#testresults {
	background-color: #FFF;
	display: block;
	padding: 10px;
	border: 1px solid #CCC;
	list-style-type: none;
	position: relative;
    -moz-box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;
}

ul#testresults li {
	list-style-type: none;
	display: block;
	background-color: #eef1f1;
	margin: 5px;
	padding: 5px;
		}

ul#testlogs {
	background-color: #FFF;
	display: block;
	padding: 10px;
	border: 1px solid #CCC;
	list-style-type: none;
	position: relative;
    -moz-box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;
}

ul#testlogs li {
	text-decoration:none;
	list-style-type: none;
	display: block;
	background-color: #eef1f1;
	margin: 5px;
	padding: 5px;
	font-size: 15px;
		}
		

ul#testlogs li a {
	text-decoration:none;
	color:#8aa19c;
	font-weight: bold;
	font-size: 12px;
	}
	
ul#testlogs li a:hover {
	color:#D14836;
}
