if BOARD_MR_VMU_RT1176

config BOARD
	default "mr_vmu_rt1176"

# M7 runs at 1 GHz
config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 1000000000

# Enable interrupt-driven serial (needed for all UARTs)
config UART_INTERRUPT_DRIVEN
	default y

# Thread stack size — ArduPilot main thread needs room for EKF etc.
config MAIN_STACK_SIZE
	default 8192

config HEAP_MEM_POOL_SIZE
	default 65536

endif # BOARD_MR_VMU_RT1176
