# only keep relevant arkcmake files
arkcmake/*
!arkcmake/updateArkcmake.py
!arkcmake/DefineCMakeDefaults.cmake
!arkcmake/DefineCompilerFlags.cmake
!arkcmake/MacroCheckCCompilerFlagSSP.cmake
!arkcmake/MacroEnsureOutOfSourceBuild.cmake
!arkcmake/ExternalProjectWithFilename.cmake
