NET "DLED_2"  LOC = "AB5" | IOSTANDARD = LVTTL | DRIVE = 24 ;
NET "DLED_3"  LOC = "AA5" | IOSTANDARD = LVTTL | DRIVE = 24 ;
NET "DLED_4"  LOC = "AA4" | IOSTANDARD = LVTTL | DRIVE = 24 ;
NET "DLED_5"  LOC = "AB4" | IOSTANDARD = LVTTL | DRIVE = 24 ;

NET "BUTTON_1"  LOC = "AA3"  | IOSTANDARD = LVTTL | PULLUP ;
NET "BUTTON_2"  LOC = "Y4"   | IOSTANDARD = LVTTL | PULLUP ;

