*~
doc/html
doc/*.log

include/mavlink/v0.9/slugs/
include/mavlink/v0.9/ualberta/
include/mavlink/v0.9/minimal/
include/mavlink/v0.9/test/
include/mavlink/v0.9/pixhawk/

include/mavlink/v1.0/slugs/
include/mavlink/v1.0/ualberta/
include/mavlink/v1.0/minimal/
include/mavlink/v1.0/test/
include/mavlink/v1.0/pixhawk/
include/mavlink/v1.0/sensoar/
