*~
tags
doc/html
doc/messages
doc/*.log
.DS_Store
build*
.nfs*
share/
__pycache__
pymavlink/generator/C/
pymavlink/generator/C/
pymavlink/generator/python/
pymavlink/generator/python/
apidocs/
pymavlink/generator/message_definitions
*.swp
pymavlink/dialects/
pymavlink/MANIFEST
pymavlink/dist
pymavlink.egg-info/
.pydevproject
.project
.ropeproject
*.cproject
include/
.tags*
*.pyc
include/mavlink/v1.0
.idea
