<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:difx="http://schemas.microsoft.com/wix/DifxAppExtension">


    <Product Id="*" Name="APM Planner" Language="1033" Version="1.1.83" Manufacturer="Michael Oborne" UpgradeCode="{625389D7-EB3C-4d77-A5F6-A285CF99437D}">

        <Package Description="APM Planner Installer" Comments="Apm Planner Installer" Manufacturer="Michael Oborne" InstallerVersion="200" Compressed="yes" />


<Upgrade Id="{625389D7-EB3C-4d77-A5F6-A285CF99437D}">
    <UpgradeVersion OnlyDetect="yes" Minimum="1.1.83" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" />
    <UpgradeVersion OnlyDetect="no" Maximum="1.1.83" Property="OLDERVERSIONBEINGUPGRADED" IncludeMaximum="no" />
</Upgrade>

<InstallExecuteSequence>
    <RemoveExistingProducts After="InstallInitialize" />
</InstallExecuteSequence>

        <PropertyRef Id="NETFRAMEWORK35" />

        <Condition Message="This application requires .NET Framework 3.5. Please install the .NET Framework then run this installer again."><![CDATA[Installed OR NETFRAMEWORK35]]></Condition>

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                
<Directory Id="APMPlanner" Name="APM Planner">
<Component Id="InstallDirPermissions" Guid="{525389D7-EB3C-4d77-A5F6-A285CF99437D}" KeyPath="yes"> 
                        <CreateFolder> 
                            <Permission User="Everyone" GenericAll="yes" /> 
                        </CreateFolder>
                    </Component>
<Component Id="_comp1" Guid="7943c394-3050-4274-9dd8-6e8883f8a114">
<File Id="_2" Source="..\bin\release\.gdbinit" />
<File Id="_3" Source="..\bin\release\.gitignore" />
<File Id="_4" Source="..\bin\release\aerosim3.91.txt" />
<File Id="_5" Source="..\bin\release\alglibnet2.dll" />
<File Id="_6" Source="..\bin\release\ArduCopterConfig.xml" />
<File Id="_7" Source="..\bin\release\ArduinoCPP.exe" />
<File Id="_8" Source="..\bin\release\ArduinoCPP.exe.config" />
<File Id="_9" Source="..\bin\release\ArduinoCPP.pdb" />
<File Id="_10" Source="..\bin\release\ArdupilotMegaPlanner.exe" ><netfx:NativeImage Id="ngen_ArdupilotMegaPlannerexe"/> </File>
<File Id="_11" Source="..\bin\release\ArdupilotMegaPlanner.exe.config" />
<File Id="_12" Source="..\bin\release\ArdupilotMegaPlanner.pdb" />
<File Id="_13" Source="..\bin\release\block_plane_0.dae" />
<File Id="_14" Source="..\bin\release\BSE.Windows.Forms.dll" />
<File Id="_15" Source="..\bin\release\Core.dll" />
<File Id="_16" Source="..\bin\release\dataflashlog.xml" />
<File Id="_17" Source="..\bin\release\DirectShowLib-2005.dll" />
<File Id="_18" Source="..\bin\release\eeprom.bin" />
<File Id="_19" Source="..\bin\release\GMap.NET.Core.dll" />
<File Id="_20" Source="..\bin\release\GMap.NET.WindowsForms.dll" />
<File Id="_21" Source="..\bin\release\hud.html" />
<File Id="_22" Source="..\bin\release\ICSharpCode.SharpZipLib.dll" />
<File Id="_23" Source="..\bin\release\Ionic.Zip.Reduced.dll" />
<File Id="_24" Source="..\bin\release\IronPython.dll" />
<File Id="_25" Source="..\bin\release\IronPython.Modules.dll" />
<File Id="_26" Source="..\bin\release\KMLib.dll" />
<File Id="_27" Source="..\bin\release\log4net.dll" />
<File Id="_28" Source="..\bin\release\mavcmd.xml" />
<File Id="_29" Source="..\bin\release\MAVLink.xml" />
<File Id="_30" Source="..\bin\release\MetaDataExtractor.dll" />
<File Id="_31" Source="..\bin\release\Microsoft.DirectX.DirectInput.dll" />
<File Id="_32" Source="..\bin\release\Microsoft.DirectX.dll" />
<File Id="_33" Source="..\bin\release\Microsoft.Dynamic.dll" />
<File Id="_34" Source="..\bin\release\Microsoft.Scripting.Core.dll" />
<File Id="_35" Source="..\bin\release\Microsoft.Scripting.Debugging.dll" />
<File Id="_36" Source="..\bin\release\Microsoft.Scripting.dll" />
<File Id="_37" Source="..\bin\release\Microsoft.Scripting.ExtensionAttribute.dll" />
<File Id="_38" Source="..\bin\release\netDxf.dll" />
<File Id="_39" Source="..\bin\release\OpenTK.Compatibility.dll" />
<File Id="_40" Source="..\bin\release\OpenTK.dll" />
<File Id="_41" Source="..\bin\release\OpenTK.GLControl.dll" />
<File Id="_42" Source="..\bin\release\ParameterMetaData.xml" />
<File Id="_43" Source="..\bin\release\quadhil.xml" />
<File Id="_44" Source="..\bin\release\serialsent.raw" />
<File Id="_45" Source="..\bin\release\SharpKml.dll" />
<File Id="_46" Source="..\bin\release\System.Data.SQLite.dll" />
<File Id="_47" Source="..\bin\release\System.Reactive.dll" />
<File Id="_48" Source="..\bin\release\System.Reactive.xml" />
<File Id="_49" Source="..\bin\release\System.Speech.dll" />
<File Id="_50" Source="..\bin\release\Updater.exe" />
<File Id="_51" Source="..\bin\release\Updater.exe.config" />
<File Id="_52" Source="..\bin\release\Updater.pdb" />
<File Id="_53" Source="..\bin\release\version.exe" />
<File Id="_54" Source="..\bin\release\version.txt" />
<File Id="_55" Source="..\bin\release\ZedGraph.dll" />
</Component>
<Directory Id="aircraft55" Name="aircraft">
<Component Id="_comp56" Guid="96a35dd4-36ad-4550-9f41-971663666721">
<File Id="_57" Source="..\bin\release\aircraft\placeholder.txt" />
</Component>
<Directory Id="arducopter57" Name="arducopter">
<Component Id="_comp58" Guid="be370c29-30ab-42e0-9d69-dd0f42462995">
<File Id="_59" Source="..\bin\release\aircraft\arducopter\arducopter-set.xml" />
<File Id="_60" Source="..\bin\release\aircraft\arducopter\arducopter.jpg" />
<File Id="_61" Source="..\bin\release\aircraft\arducopter\arducopter.xml" />
<File Id="_62" Source="..\bin\release\aircraft\arducopter\initfile.xml" />
<File Id="_63" Source="..\bin\release\aircraft\arducopter\plus_quad2-set.xml" />
<File Id="_64" Source="..\bin\release\aircraft\arducopter\plus_quad2.xml" />
<File Id="_65" Source="..\bin\release\aircraft\arducopter\quad.nas" />
<File Id="_66" Source="..\bin\release\aircraft\arducopter\README" />
</Component>
<Directory Id="data66" Name="data">
<Component Id="_comp67" Guid="04e11ed4-1c92-4452-9962-cedd089ba0df">
<File Id="_68" Source="..\bin\release\aircraft\arducopter\data\arducopter_half_step.txt" />
<File Id="_69" Source="..\bin\release\aircraft\arducopter\data\arducopter_step.txt" />
<File Id="_70" Source="..\bin\release\aircraft\arducopter\data\rw_generic_pylon.ac" />
</Component>
</Directory>
<Directory Id="Engines70" Name="Engines">
<Component Id="_comp71" Guid="1b7f3745-73fe-4a07-933d-7f31cfb5ab78">
<File Id="_72" Source="..\bin\release\aircraft\arducopter\Engines\a2830-12.xml" />
<File Id="_73" Source="..\bin\release\aircraft\arducopter\Engines\prop10x4.5.xml" />
</Component>
</Directory>
<Directory Id="Models73" Name="Models">
<Component Id="_comp74" Guid="991a5b4d-69fe-4fc2-b9f4-9aa5afd11a72">
<File Id="_75" Source="..\bin\release\aircraft\arducopter\Models\arducopter.ac" />
<File Id="_76" Source="..\bin\release\aircraft\arducopter\Models\arducopter.xml" />
<File Id="_77" Source="..\bin\release\aircraft\arducopter\Models\plus_quad.ac" />
<File Id="_78" Source="..\bin\release\aircraft\arducopter\Models\plus_quad2.ac" />
<File Id="_79" Source="..\bin\release\aircraft\arducopter\Models\plus_quad2.xml" />
<File Id="_80" Source="..\bin\release\aircraft\arducopter\Models\quad.3ds" />
<File Id="_81" Source="..\bin\release\aircraft\arducopter\Models\shareware_output.3ds" />
<File Id="_82" Source="..\bin\release\aircraft\arducopter\Models\Untitled.ac" />
<File Id="_83" Source="..\bin\release\aircraft\arducopter\Models\Y6_test.ac" />
</Component>
</Directory>
</Directory>
<Directory Id="Rascal83" Name="Rascal">
<Component Id="_comp84" Guid="4ed0460c-422b-4b48-88ce-e36abd542b38">
<File Id="_85" Source="..\bin\release\aircraft\Rascal\Rascal-keyboard.xml" />
<File Id="_86" Source="..\bin\release\aircraft\Rascal\Rascal-submodels.xml" />
<File Id="_87" Source="..\bin\release\aircraft\Rascal\Rascal.xml" />
<File Id="_88" Source="..\bin\release\aircraft\Rascal\Rascal110-JSBSim-set.xml" />
<File Id="_89" Source="..\bin\release\aircraft\Rascal\Rascal110-JSBSim.xml" />
<File Id="_90" Source="..\bin\release\aircraft\Rascal\Rascal110-splash.rgb" />
<File Id="_91" Source="..\bin\release\aircraft\Rascal\README.Rascal" />
<File Id="_92" Source="..\bin\release\aircraft\Rascal\reset_CMAC.xml" />
<File Id="_93" Source="..\bin\release\aircraft\Rascal\thumbnail.jpg" />
</Component>
<Directory Id="Dialogs93" Name="Dialogs">
<Component Id="_comp94" Guid="fd968267-b221-4592-926d-c2e025053a55">
<File Id="_95" Source="..\bin\release\aircraft\Rascal\Dialogs\config.xml" />
<File Id="_96" Source="..\bin\release\aircraft\Rascal\Dialogs\config.xml.new" />
</Component>
</Directory>
<Directory Id="Engines96" Name="Engines">
<Component Id="_comp97" Guid="69d22522-b299-44ae-9849-bc84e29d0f0d">
<File Id="_98" Source="..\bin\release\aircraft\Rascal\Engines\18x8.xml" />
<File Id="_99" Source="..\bin\release\aircraft\Rascal\Engines\18x8.xml.new" />
<File Id="_100" Source="..\bin\release\aircraft\Rascal\Engines\Zenoah_G-26A.xml" />
<File Id="_101" Source="..\bin\release\aircraft\Rascal\Engines\Zenoah_G-26A.xml.new" />
</Component>
</Directory>
<Directory Id="Models101" Name="Models">
<Component Id="_comp102" Guid="4ddc971c-4800-47d8-a344-97debc37b666">
<File Id="_103" Source="..\bin\release\aircraft\Rascal\Models\Rascal.rgb" />
<File Id="_104" Source="..\bin\release\aircraft\Rascal\Models\Rascal.rgb.new" />
<File Id="_105" Source="..\bin\release\aircraft\Rascal\Models\Rascal110-000-013.ac" />
<File Id="_106" Source="..\bin\release\aircraft\Rascal\Models\Rascal110-000-013.ac.new" />
<File Id="_107" Source="..\bin\release\aircraft\Rascal\Models\Rascal110.xml" />
<File Id="_108" Source="..\bin\release\aircraft\Rascal\Models\Rascal110.xml.new" />
<File Id="_109" Source="..\bin\release\aircraft\Rascal\Models\smoke.png" />
<File Id="_110" Source="..\bin\release\aircraft\Rascal\Models\smoke.png.new" />
<File Id="_111" Source="..\bin\release\aircraft\Rascal\Models\smokeW.xml" />
<File Id="_112" Source="..\bin\release\aircraft\Rascal\Models\smokeW.xml.new" />
<File Id="_113" Source="..\bin\release\aircraft\Rascal\Models\Trajectory-Marker.ac" />
<File Id="_114" Source="..\bin\release\aircraft\Rascal\Models\Trajectory-Marker.ac.new" />
<File Id="_115" Source="..\bin\release\aircraft\Rascal\Models\Trajectory-Marker.xml" />
<File Id="_116" Source="..\bin\release\aircraft\Rascal\Models\Trajectory-Marker.xml.new" />
</Component>
</Directory>
<Directory Id="Systems116" Name="Systems">
<Component Id="_comp117" Guid="80877e35-073d-48fe-b005-d720fb29033f">
<File Id="_118" Source="..\bin\release\aircraft\Rascal\Systems\110-autopilot.xml" />
<File Id="_119" Source="..\bin\release\aircraft\Rascal\Systems\110-autopilot.xml.new" />
<File Id="_120" Source="..\bin\release\aircraft\Rascal\Systems\airdata.nas" />
<File Id="_121" Source="..\bin\release\aircraft\Rascal\Systems\airdata.nas.new" />
<File Id="_122" Source="..\bin\release\aircraft\Rascal\Systems\electrical.xml" />
<File Id="_123" Source="..\bin\release\aircraft\Rascal\Systems\electrical.xml.new" />
<File Id="_124" Source="..\bin\release\aircraft\Rascal\Systems\main.nas" />
<File Id="_125" Source="..\bin\release\aircraft\Rascal\Systems\main.nas.new" />
<File Id="_126" Source="..\bin\release\aircraft\Rascal\Systems\ugear.nas" />
</Component>
</Directory>
</Directory>
</Directory>
<Directory Id="Driver126" Name="Driver">
<Component Id="_comp127" Guid="59918d01-423c-421d-a101-5edef7643afe">
<File Id="_128" Source="..\bin\release\Driver\Arduino MEGA 2560.inf" />
<File Id="_129" Source="..\bin\release\Driver\Arduino MEGA 2560.inf.new" />
</Component>
</Directory>
<Directory Id="es_ES129" Name="es-ES">
<Component Id="_comp130" Guid="eacb4472-7392-4022-b7a2-d2a684da7898">
<File Id="_131" Source="..\bin\release\es-ES\ArdupilotMegaPlanner.resources.dll" />
</Component>
</Directory>
<Directory Id="fr131" Name="fr">
<Component Id="_comp132" Guid="d37ed4c2-bc78-4365-ac94-36bcdaa435ef">
<File Id="_133" Source="..\bin\release\fr\ArdupilotMegaPlanner.resources.dll" />
</Component>
</Directory>
<Directory Id="it_IT133" Name="it-IT">
<Component Id="_comp134" Guid="6c350c50-6cf4-43cc-9e29-68044fa02246">
<File Id="_135" Source="..\bin\release\it-IT\ArdupilotMegaPlanner.resources.dll" />
</Component>
</Directory>
<Directory Id="jsbsim135" Name="jsbsim">
<Component Id="_comp136" Guid="2187c017-d265-496e-9236-58b423f5d901">
<File Id="_137" Source="..\bin\release\jsbsim\fgout.xml" />
<File Id="_138" Source="..\bin\release\jsbsim\rascal_test.xml" />
</Component>
</Directory>
<Directory Id="logs138" Name="logs">
<Component Id="_comp139" Guid="ea1f361a-9cc5-476f-bb1d-f14835a65eef">
<File Id="_140" Source="..\bin\release\logs\2012-05-06 17-54-28.rlog" />
<File Id="_141" Source="..\bin\release\logs\2012-05-06 17-54-28.tlog" />
<File Id="_142" Source="..\bin\release\logs\2012-05-06 18-08-03.rlog" />
<File Id="_143" Source="..\bin\release\logs\2012-05-06 18-08-03.tlog" />
</Component>
</Directory>
<Directory Id="m3u143" Name="m3u">
<Component Id="_comp144" Guid="b21d1a11-84b1-4236-9440-7a6919b6cc79">
<File Id="_145" Source="..\bin\release\m3u\both.m3u" />
<File Id="_146" Source="..\bin\release\m3u\GeoRefnetworklink.kml" />
<File Id="_147" Source="..\bin\release\m3u\hud.m3u" />
<File Id="_148" Source="..\bin\release\m3u\map.m3u" />
<File Id="_149" Source="..\bin\release\m3u\networklink.kml" />
</Component>
</Directory>
<Directory Id="pl149" Name="pl">
<Component Id="_comp150" Guid="0f134dc2-7ee1-4ef8-897e-cfe074968423">
<File Id="_151" Source="..\bin\release\pl\ArdupilotMegaPlanner.resources.dll" />
</Component>
</Directory>
<Directory Id="Resources151" Name="Resources">
<Component Id="_comp152" Guid="d95842db-f732-4e27-a28d-81361452370d">
<File Id="_153" Source="..\bin\release\Resources\MAVCmd.txt" />
<File Id="_154" Source="..\bin\release\Resources\MAVCmd.txt.new" />
<File Id="_155" Source="..\bin\release\Resources\Welcome_to_Michael_Oborne.rtf" />
<File Id="_156" Source="..\bin\release\Resources\Welcome_to_Michael_Oborne.rtf.new" />
</Component>
</Directory>
<Directory Id="ru_RU156" Name="ru-RU">
<Component Id="_comp157" Guid="0a07c19b-3e05-4954-81fb-8e00831f316a">
<File Id="_158" Source="..\bin\release\ru-RU\ArdupilotMegaPlanner.resources.dll" />
</Component>
</Directory>
<Directory Id="zh_Hans158" Name="zh-Hans">
<Component Id="_comp159" Guid="26bcb077-6dba-43ee-9e1b-aa294bc10a01">
<File Id="_160" Source="..\bin\release\zh-Hans\ArdupilotMegaPlanner.resources.dll" />
</Component>
</Directory>
<Directory Id="zh_TW160" Name="zh-TW">
<Component Id="_comp161" Guid="e4ffb30d-eda1-4755-a47f-6fd2e5f46e4c">
<File Id="_162" Source="..\bin\release\zh-TW\ArdupilotMegaPlanner.resources.dll" />
</Component>
</Directory>

                    
                    <Directory Id="drivers" Name="Drivers">
                        <Component Id="MyDriver" Guid="{6AC8226E-A005-437e-A3CD-0FC32D9A346F}">
                            <File Id="apm2inf"  Source="..\Driver\Arduino MEGA 2560.inf" />
                            <difx:Driver AddRemovePrograms='no' Legacy="yes" PlugAndPlayPrompt="no" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="APM Planner" />
            </Directory>

        </Directory>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="{8BC628BA-08A0-43d6-88C8-D4C007AC4607}">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="APM Planner" Description="Ardupilot Mega Planner" Target="[APMPlanner]ArdupilotMegaPlanner.exe" WorkingDirectory="APMPlanner" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />

                <Shortcut Id="UninstallProduct" Name="Uninstall APM Planner" Description="Uninstalls My Application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />



                <RegistryValue Root="HKCU" Key="Software\MichaelOborne\APMPlanner" Name="installed" Type="integer" Value="1" KeyPath="yes" />




            </Component>
        </DirectoryRef>


        <Feature Id="MyFeature" Title="My 1st Feature" Level="1">
            <ComponentRef Id="InstallDirPermissions" />

<ComponentRef Id="_comp1" />
<ComponentRef Id="_comp56" />
<ComponentRef Id="_comp58" />
<ComponentRef Id="_comp67" />
<ComponentRef Id="_comp71" />
<ComponentRef Id="_comp74" />
<ComponentRef Id="_comp84" />
<ComponentRef Id="_comp94" />
<ComponentRef Id="_comp97" />
<ComponentRef Id="_comp102" />
<ComponentRef Id="_comp117" />
<ComponentRef Id="_comp127" />
<ComponentRef Id="_comp130" />
<ComponentRef Id="_comp132" />
<ComponentRef Id="_comp134" />
<ComponentRef Id="_comp136" />
<ComponentRef Id="_comp139" />
<ComponentRef Id="_comp144" />
<ComponentRef Id="_comp150" />
<ComponentRef Id="_comp152" />
<ComponentRef Id="_comp157" />
<ComponentRef Id="_comp159" />
<ComponentRef Id="_comp161" />

            
            <ComponentRef Id="ApplicationShortcut" />
            <ComponentRef Id="MyDriver" />
        </Feature>

        
            <!-- Step 2: Add UI to your installer / Step 4: Trigger the custom action -->
    <Property Id="WIXUI_INSTALLDIR" Value="APMPlanner" />

    <UI>
        <UIRef Id="WixUI_InstallDir" />
        <Publish Dialog="ExitDialog" 
            Control="Finish" 
            Event="DoAction" 
            Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch APM Planner" />

    <!-- Step 3: Include the custom action -->
    <Property Id="WixShellExecTarget" Value="[#_10]" />
    <CustomAction Id="LaunchApplication" 
        BinaryKey="WixCA" 
        DllEntry="WixShellExec"
        Impersonate="yes" />
    </Product>
    
</Wix>
