# Config file for serproxy
# See serproxy's README file for documentation

# Transform newlines coming from the serial port into nils
# true (e.g. if using Flash) or false
newlines_to_nils=false

# Comm ports used
comm_ports=1

# Default settings
#comm_baud=57600
comm_baud=38400
comm_databits=8
comm_stopbits=1
comm_parity=none


#serial_device1=/dev/cu.usbserial-FTDO5RNM
serial_device1=/dev/cu.usbserial-A600dZ2l

# Idle time out in seconds
timeout=3000

# Port 1 settings (ttyS0)
net_port1=5331

# Port 2 settings (ttyS1)
#net_port2=5332

# Port 3 settings (ttyS2)
#net_port3=5333

# Port 4 settings (ttyS3)
#net_port4=5334

